doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Wisembly')
    title Wisembly
    link(href='style.css', rel='stylesheet')
  body(class='Page')
    header(class='Header')
      div(class='Header-logo')
      h1(class='Header-title')
        span(data-i18n='en') 2016, Year in Review
        span(data-i18n='fr') Regards sur l’année 2016
      i(class='Icon Icon--chevron')

    section(class='Section Section--primary')
      h2(class='Section-title')
        span(data-i18n='en') In a nutshell: Wisembly in 2016
        span(data-i18n='fr') En bref, l’usage Wisembly en 2016
      div.u-wrapped
        div(class='Grid Grid--gutters Grid--centered')
          div(class='Grid-cell Grid-cell--12 Grid-cell--4@tablet u-tac u-pdb--l')
            div(class='Section-img')
            span.Section-figure
              span(data-i18n='en') 6,007
              span(data-i18n='fr') 6 007
            span.Section-caption
              span(data-i18n='en') Wiz #[br]created
              span(data-i18n='fr') Wiz #[br]créés
          div(class='Grid-cell Grid-cell--12 Grid-cell--4@tablet u-tac u-pdb--l')
            div(class='Section-img Section-img--participants')
            span.Section-figure
              span(data-i18n='en') 410,000+
              span(data-i18n='fr') 410 000+
            span.Section-caption
              span(data-i18n='en') Participants #[br]connected
              span(data-i18n='fr') Participants #[br]connectés
      div.u-wrapped
        div(class='Grid Grid--gutters')
          div(class='Grid-cell Grid-cell--12 Grid-cell--4@tablet u-tac u-pdb--l')
            div(class='Section-img Section-img--message')
            span.Section-figure
              span(data-i18n='en') 250,000+
              span(data-i18n='fr') 250 000+
            span.Section-caption
              span(data-i18n='en') Messages #[br]sent
              span(data-i18n='fr') Messages #[br]envoyés

          div(class='Grid-cell Grid-cell--12 Grid-cell--4@tablet u-tac u-pdb--l')
            div(class='Section-img Section-img--reactions')
            span.Section-figure
              span(data-i18n='en') 350,000+
              span(data-i18n='fr') 350 000+
            span.Section-caption
              span(data-i18n='en') Reactions #[br]added
              span(data-i18n='fr') Réactions #[br]ajoutées
          div(class='Grid-cell Grid-cell--12 Grid-cell--4@tablet u-tac u-pdb--l')
            div(class='Section-img Section-img--survey')
            span.Section-figure
              span(data-i18n='en') 250,000+
              span(data-i18n='fr') 250 000+
            span.Section-caption
              span(data-i18n='en') Answers #[br](votes + quizzes)
              span(data-i18n='fr') Réponses #[br](votes + questionnaires)

    section(class='Section Section--stripe u-tac')
      div(class='Section-img Section-img--host')
      span.Section-figure
        span(data-i18n='en') 99.99 %
        span(data-i18n='fr') 99,99 %
      span.Section-caption
        span(data-i18n='en') Uptime
        span(data-i18n='fr') de temps de disponibilité de la plateforme

    section(class='Section u-wrapped u-wrapped--l u-pdh--0')
      h2(class='Section-title Section-title--neutral')
        span(data-i18n='en') Innovations for your benefits
        span(data-i18n='fr') Des innovations aux services de vos usages

      div(class='Grid Grid--gutters u-pdv--m')
        div(class='Grid-cell Grid-cell--12 Grid-cell--6@tablet u-tac Section-centeredItem')
          div.u-pdh--m
            h3.Section-innovationTitle.t-primary.u-mgt--0
              span(data-i18n='en') More impactful meetings and events
              span(data-i18n='fr') Augmentez l’impact lors de vos réunions
            ul(class='r-list Section-innovationList')
              li.Media.u-tal.u-mgt--s
                div(class='Media-img Icon Icon--s Icon--checkmark')
                div.Media-content
                  span(data-i18n='en') #[strong New presentation mode] optimised for a better display of information and a more interactive experience.
                  span(data-i18n='fr') #[strong Nouveau mode de présentation] optimisé pour la communication visuelle lors de vos réunions.
              li.Media.u-tal.u-mgt--s
                div(class='Media-img Icon Icon--s Icon--checkmark')
                div.Media-content
                  span(data-i18n='en') #[strong Integrations] of video streams and documents from third party services.
                  span(data-i18n='fr') #[strong Intégrations] de flux vidéos et documents.
              li.Media.u-tal.u-mgt--s
                div(class='Media-img Icon Icon--s Icon--checkmark')
                div.Media-content
                  span(data-i18n='en') #[strong New way to react to messages] with a broader range of emotions.
                  span(data-i18n='fr') #[strong Nouvelle manière de réagir aux messages] grâce à une palette d'émotions plus large.

        div(class='Grid-cell Grid-cell--12 Grid-cell--6@tablet u-tac Section-imgWrapper')
          div(class='Section-img Section-img--event Section-img--innovation Section-img--r')
      div(class='Grid Grid--gutters u-pdv--m')
        div(class='Grid-cell Grid-cell--12 Grid-cell--6@tablet u-tac Section-imgWrapper')
          div(class='Section-img Section-img--collaborators Section-img--innovation Section-img--r')
        div(class='Grid-cell Grid-cell--12 Grid-cell--6@tablet u-tac Section-centeredItem')
          div.u-pdh--m
            h3.Section-innovationTitle.t-primary.u-mgt--0
              span(data-i18n='en') A better understanding of your audience and collaborators
              span(data-i18n='fr') Améliorez la compréhension de votre audience et vos collaborateurs
            ul(class='r-list Section-innovationList')
              li.Media.u-tal.u-mgt--s
                div(class='Media-img Icon Icon--s Icon--checkmark')
                div.Media-content
                  span(data-i18n='en') #[strong Update of the data analytics,] now more complete.
                  span(data-i18n='fr') #[strong Analyse de données] mise à jour, et plus poussée.
              li.Media.u-tal.u-mgt--s
                div(class='Media-img Icon Icon--s Icon--checkmark')
                div.Media-content
                  span(data-i18n='en') #[strong Addition of the activity report,] allowing you to easily share key information from your Wiz to anyone.
                  span(data-i18n='fr') #[strong Ajout du rapport d’activité] pour facilement partager les informations principales de vos Wiz.

      div(class='Grid Grid--gutters u-pdv--m')
        div(class='Grid-cell Grid-cell--12 Grid-cell--6@tablet u-tac Section-centeredItem')
          div.u-pdh--m
            h3.Section-innovationTitle.t-primary.u-mgt--0
              span(data-i18n='en') Productive everyday meetings
              span(data-i18n='fr') Optimisez la manière de vous réunir au quotidien
            ul(class='r-list Section-innovationList')
              li.Media.u-tal.u-mgt--s
                div(class='Media-img Icon Icon--s Icon--checkmark')
                div.Media-content
                  span(data-i18n='en') Our application, #[strong Solid], empowers people to run stress-free meetings around the world, with 55,000 meetings created in 2016.
                  span(data-i18n='fr') Notre application #[strong Solid] facilite maintenant des réunions aux quatre coins du monde et 55 000 réunions ont été gérées en 2016.
        div(class='Grid-cell Grid-cell--12 Grid-cell--6@tablet u-tac Section-imgWrapper')
          div(class='Section-img Section-img--daily Section-img--innovation Section-img--l')

    section(class='Section Section--validate')
      h2(class='Section-title')
        span(data-i18n='en') Clients first
        span(data-i18n='fr') Nos clients au cœur de l’expérience Wisembly

      div(class='Grid')
        div(class='Grid-cell Grid-cell--12')
          div(class='Section-img Section-img--hat')

      div(class='Grid Grid--gutters Grid--centered')
        div(class='Grid-cell Grid-cell--12 Grid-cell--4@tablet u-tac')
          div(class='Section-img Section-img--request')
          span.Section-figure
            span(data-i18n='en') 1,537
            span(data-i18n='fr') 1 537
          span.Section-caption
            span(data-i18n='en') requests received
            span(data-i18n='fr') demandes reçues
        div(class='Grid-cell Grid-cell--12 Grid-cell--4@tablet u-tac')
          div(class='Section-img Section-img--satisfaction')
          span.Section-figure
            span(data-i18n='en') 99.47 %
            span(data-i18n='fr') 99,47 %
          span.Section-caption
            span(data-i18n='en') client satisfaction
            span(data-i18n='fr') de satisfaction client

      p(class='Section-text u-mgv--l u-wrapped')
        span(data-i18n='en') In 2016, our #[strong Success team] answered more than 1537 client requests throughout the year and worked hand in hand with our 600 clients to help them get the best out of Wisembly.
        span(data-i18n='fr') En 2016, la #[strong création du pôle Success] au sein de Wisembly a permis de répondre plus efficacement et personnellement aux plus de 1 500 demandes reçues tout au long de l’année et d'aider nos 600 clients à co-construire leurs usages de la solution.

      blockquote.Quote.u-wrapped
        em(class='Quote-text', data-i18n='en') We were receiving a question every 30 seconds during the meeting's peak time.
        em(class='Quote-text', data-i18n='fr') Au plus fort de la réunion, nous avions 1 question toutes les 30 secondes !
        footer.Quote-author
          span(class='Avatar Quote-authorImg Quote-authorImg--woman1')
          span(class='u-vam u-mgl--m') Marie Iverson, Seb.

      blockquote.Quote.u-wrapped
        em(class='Quote-text', data-i18n='en') By optimising the way we gather information and feedback from all our collaborators, Wisembly allowed us to legitimise our decision making.
        em(class='Quote-text', data-i18n='fr') En optimisant la collecte des informations et des avis de tous les collaborateurs, Wisembly nous a permis de légitimer nos prises de décisions.
        footer.Quote-author
          span(class='Avatar Quote-authorImg Quote-authorImg--woman2')
          span(class='u-vam u-mgl--m') Chloé Myard, Auchan.

      blockquote.Quote.u-wrapped
        em(class='Quote-text', data-i18n='en') Thanks to Wisembly, we empowered our collaborators, who weren’t used to speaking up, to have their say.
        em(class='Quote-text', data-i18n='fr') Grâce à Wisembly, nous avons permis aux collaborateurs qui n’ont pas l’habitude de prendre la parole de donner leur avis.
        footer.Quote-author
          span(class='Avatar Quote-authorImg Quote-authorImg--man')
          span(class='u-vam u-mgl--m') Victor Midilles, MNT.

    section(class='Section Section--alt')
      h2(class='Section-title')
        span(data-i18n='en') A word from the Wisembly Team
        span(data-i18n='fr') Le mot de l'équipe
      h3(class='u-tac u-mgv--l u-pdh--m u-wrapped')
        span(data-i18n='en') We asked everyone in the Wisembly Team what they believed would be our clients' challenges in 2017. Here is what they replied:
        span(data-i18n='fr') À la question : #[em “Quels vont être les grands défis de vos clients en 2017 ?”], les membres de l'équipe Wisembly ont répondu :

      div.u-wrapped
        div(class='Section-cloudword', data-i18n="en")
        div(class='Section-cloudword', data-i18n="fr")

    section(class='Section Section--primary Section--covered')
      p(class='Section-text u-mgt--0 u-wrapped')
        span(data-i18n='en') #[strong Thanks] to everyone who made 2016 such a special year for Wisembly. We’re eager to discover the #[strong new challenges] and #[strong surprises] that await us in 2017.
        span(data-i18n='fr') #[strong Merci] à vous toutes et tous d’avoir fait de 2016 une année si spéciale pour Wisembly. Nous sommes impatients de voir les #[strong challenges], #[strong nouveautés] et #[strong surprises] qui nous attendent en 2017.
      div(class='Section-img Section-img--mountain')
      h2(class='Section-title Section-title--raw')
        span(data-i18n='en') Happy New Year 2017!
        span(data-i18n='fr') Toute l'équipe vous souhaite une Bonne Année 2017 !

    script(async, src='/browser-sync/browser-sync-client.js?v=2.18.5')

    script.
      var url = window.location.href,
          splittedUrl = url.split('?lang='),
          lang = splittedUrl[1] || '',
          page = document.querySelector('html');

      switch (lang) {
        case 'fr':
          page.setAttribute('lang', 'fr');
          break;
        default:
          page.setAttribute('lang', 'en');
          break;
      }
