@import "tapestry";
@import "../../node_modules/tapestry-css/src/scss/app.scss";

@import "fonts";
@import "icons";
@import "header";
@import "section";
@import "quote";


[data-i18n] {
  display: none;
}

[lang="en"] {
  [data-i18n="en"] {
    display: inline-block;
  }
}

[lang="fr"] {
  [data-i18n="fr"] {
    display: inline-block;
  }
}

.u-wrapped {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
